<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>商品一覧</title>
</head>
<body>
    <h1>商品一覧</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>商品名</th>
                <th>価格</th>
                <th>詳細</th>
            </tr>
        </thead>
        <tbody>
            {% for product in object_list %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td><a href="{% url 'product_detail' product.pk %}">詳細</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
